<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="css/styles.min.css">
  <!-- <link rel="stylesheet" href="css/styleswitcher.min.css"> -->

  <!-- <link rel="stylesheet alternate" href="css/dusk.min.css" title="Dusk"> -->
  <!-- <link rel="stylesheet alternate" href="css/daringfireball.min.css" title="DaringFireball"> -->
</head>
<body>
