@import (reference) "../../less/ui.less";

@backgroundColor:    #101010;
@textColor:          #dbdbdb;
@primaryColor:       #99cc66;

@standardFont:       Arial, Gadget, sans-serif;
@baseSize:           1;

@padding:            .75rem;
@margin:             1 * (2*@padding);

html {
  font-family: @standardFont;
  font-size: 16px * @baseSize;
  line-height: 1.4;
}
body {
  background-color: @backgroundColor;
  color: @textColor;
}
h1, h2, h3, h4, h5, h6 {
  color: @primaryColor;
  font-weight: normal;
}
blockquote { background: #1D1F21; border-left: 3px solid #99cc66; }
pre { background: #1D1F21; border: 1px solid #5C5C5C; border-radius: 5px; }
code { background: #1D1F21; }
