// base

// Normalize++
html {box-sizing: border-box;}
*, *::before, *::after {box-sizing: inherit;}

img {max-width: 100%;}

time, address {
  display: block;
}

html {
  font-family: @standardFont;
  font-weight: normal;
  font-size: 16px * @baseSize;
  line-height: 1.5;
}
body {
  background: @backgroundColor;
  color: @textColor;
}
h1, h2, h3, h4, h5, h6 {
  color: extract(@primaryColors, 6);
}
a {
  color: extract(@primaryColors, 6);
  text-decoration: none;
  &:hover {
    color: extract(@primaryColors, 8);
    text-decoration: underline;
  }
}
p+ul {
  margin-top: -1.5rem;
}
ul ul, ul ol, ol ol, ol, ul {
  margin-bottom: 0;
}
blockquote {
  margin-left: 1.4rem;
  padding-left: 1rem;
  border-left: 4px solid extract(@primaryColors, 6);
  & > p:last-of-type {margin-bottom: 0;}
  & > footer {
    font-style: italic;
    &:before {content:"\2014 \00A0";}
  }
}
pre {
  background-color: extract(@primaryColors, 1);
  padding: @padding;
  overflow: auto;
}
