// Variables

@backgroundColor:    white;
@textColor:          #222;

@primaryColor:       #C0CA33;
@accentColor:        #C99232;

@padding:            .8rem;
@margin:             1.2rem;

@standardFont:       -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
