html {
  font-family: Arial, Gadget, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}
body {
  background-color: #101010;
  color: #dbdbdb;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #99cc66;
  font-weight: normal;
}
blockquote {
  background: #1D1F21;
  border-left: 3px solid #99cc66;
}
pre {
  background: #1D1F21;
  border: 1px solid #5C5C5C;
  border-radius: 5px;
}
code {
  background: #1D1F21;
}
