#styleswitcher {
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  position: fixed;
  right: 20px;
  top: 20px;
  background-color: white;
  color: #222;
  padding: 8px 12px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
