<header>
  <img src="https://source.unsplash.com/featured/800x300/?sig=header&technology" alt="">
  <h1>{{ title }}</h1>
  <p>With optional subheading</p>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Blog</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </nav>
</header>
